<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="app" class="com.epam.spring.core.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="consoleLogger"/>
    </bean>

    <bean id="client" class="com.epam.spring.core.beans.Client" >
        <constructor-arg index="0" value = "1" type="java.lang.String"/>
        <constructor-arg index="1" value = "Papa Smith" type="java.lang.String"/>
    </bean>

    <import resource="loggers.xml"/>

</beans>